.activeLink {
  background-image: linear-gradient(
    theme('colors.seagreen.300'),
    theme('colors.seagreen.300')
  );
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: calc(100% - 2rem) 3px;
}

.activeSmallScreenLink {
  @apply text-seagreen-600;
}
