.panningContainer {
  height: 70vh;
  max-height: 50rem;
}

.componentWrap:hover .panningContainer {
  will-change: transform;
}

.panningContainerFullscreen {
  height: 100vh;
  max-height: 100vh;
}

.contentType {
}

.diagramContainer:global(.is-highlighted) .contentType {
  @apply transition-opacity;
  opacity: 0.4;
}

.diagramContainer:global(.is-highlighted) .contentType:global(.is-highlighted) {
  opacity: 1;
}

.stroke :global(path) {
  @apply stroke-current;
}

.stroke:global(.is-highlighted) {
  @apply text-seagreen-600;
  position: relative;
  z-index: 2;
}
